
body{
    background-color: lightskyblue
}
.container{
    margin: 0 auto;
    width: 240px;
    height: 370px;  
    background-color: #D9E4F1;

}

.title{
    width:230px;
    background-color: dodgerblue;
    padding: 5px;
}

.display{
   position: relative;
   left:20px;
    width: 200px;
    height: 50px;
    border: 1px solid grey;
    background-color: #E9F0FB;
    margin-bottom: 10px;
    margin-top: 10px;

}
.calculation{

   
    width:200px;
    position: relative;
    left: 20px; 
}

button{
    width : 60px;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 2px;
    background-color:#ECF3FB; 
    }

button:hover{
    background-color: #FFDF00;
}

